body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  color: #fff;
  background-color: greenyellow;
}

*::selection {
  color: #fff;
  background-color: greenyellow;
}

.container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.headerTop {
  width: 100%;
  height: 80px;
}
.headerTop img {
  width: 64px;
  height: 32px;
  padding-left: 25px;
  padding-top: 25px;
  cursor: pointer;
  margin-left: 5%;
}
.headerTop .fa-bars {
  cursor: pointer;
  font-size: 24px;
  width: 24px;
  height: 21px;
  margin-left: 75%;
}
.headerTop .fa-bars:hover {
  color: rgb(255, 0, 255);
}

#list {
  display: none;
  position: fixed;
  z-index: 1;
}

.right-burger-menu {
  background: rgba(0, 0, 0, 0.956);
  width: 250px;
  height: 715px;
  margin-left: -42px;
  margin-top: -92px;
  animation-name: home-go;
  animation-duration: 0.7s;
}
@keyframes home-go {
  0% {
    margin-left: -182px;
  }
  100% {
    margin-left: -41px;
  }
}
.right-burger-menu .home {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
  font-size: 20px;
  font-family: Open Sans, sans-serif;
  /* margin-top: 300px; */
  position: relative;
  top: 120px;
  left: 90px;
}
.right-burger-menu .home:hover {
  color: rgba(255, 255, 255, 0.5450980392);
}

.libraryLanding {
  background-image: url(../img/section-1/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.libraryLanding .libraryLanding__grid {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack {
  z-index: 2;
  width: 200px;
  padding: 40px 0px 40px 17%;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__h1 {
  padding-top: 50px;
  font: 700 48px Raleway, sans-serif;
  color: #fff;
  width: 250px;
  height: 105px;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__p {
  width: 288px;
  font-weight: 700;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  color: #fff;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__btn {
  width: 212px;
  height: 57.6px;
  border: none;
  border-radius: 12px;
  font: 700 16px "Open Sans", sans-serif;
  background-color: #d5e76c;
  cursor: pointer;
  color: #2799b1;
  text-transform: uppercase;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__btn:hover {
  background-color: rgba(213, 231, 108, 0.8549019608);
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack {
  font: 16px "Open Sans", sans-serif;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack a:hover {
  border-color: rgba(255, 255, 255, 0.516);
  color: rgba(255, 255, 255, 0.734);
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack-second {
  display: block;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack-second .libraryLanding-grid__pack-second_1 {
  border: 0px solid transparent;
  width: calc((100% - 1140px) / 2 + 1140px);
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack-second .libraryLanding-grid__pack-second_1 img {
  width: calc((100% - 1140px) / 2 + 1140px);
  max-width: 100%;
  margin: 0 0 0 auto;
  width: 100%;
}

.seventh-section__block {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}
.seventh-section__block .block__second-block {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__second-block__text-block {
  width: 225px;
  height: 484px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}
.block__second-block__text-block h4 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  margin: 0;
}
.block__second-block__text-block p {
  width: 225px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  margin: 35px 0;
  color: #111;
}
.block__second-block__text-block .text-block__card {
  width: 212px;
  animation-name: anim;
  animation-duration: 2s;
}
.block__second-block__text-block .text-block__card .text-block__a-btn {
  padding: 15px 44px 17px;
  background-color: #d5e76c;
  color: #2799b1;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px 0;
  border: none;
}
.block__second-block__text-block .text-block__a-btn:hover {
  background-color: #cde24f;
  color: #238a9f;
  border: none;
}
.block__second-block__text-block .title-link {
  width: 86px;
  display: inline-block;
  margin: 36px 0 0;
  color: #111;
}
.block__second-block__text-block a {
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #111;
  margin: 0 5px 0;
}
.block__second-block__text-block a:hover {
  border-bottom: 1px solid #2799b1;
}

.block__second-block__title-block {
  width: 282px;
  height: 484px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.block__second-block__title-block img {
  width: 64px;
  height: 53.45px;
  -o-object-fit: cover;
     object-fit: cover;
}
.block__second-block__title-block p {
  width: 282px;
  line-height: 1.8;
  letter-spacing: 0.3px;
  margin: 35px 0;
  color: #111;
}

.block__second-block__img-block {
  width: 513px;
  height: 484px;
  padding: 30px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__second-block__img-block .img-block__items__item {
  width: 513px;
  height: 228px;
  background-image: linear-gradient(to right, #2799b1, #d5e76c);
}
.block__second-block__img-block img {
  position: absolute;
  top: 0;
  padding: 30px 0 0;
  width: 337px;
  height: 484px;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translate(-500px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .block__second-block__text-block {
    width: 175px !important;
    height: -moz-max-content;
    height: max-content;
  }
  .block__second-block__text-block h4 {
    width: 170px !important;
  }
  .block__second-block__text-block p {
    width: 175px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__text-block .text-block__a-btn {
    position: relative;
  }
  .block__second-block__title-block {
    width: 222px !important;
    height: 540px !important;
    padding: 30px;
  }
  .block__second-block__title-block img {
    width: 14px !important;
    height: 14px !important;
    padding: 0 25px;
  }
  .block__second-block__title-block p {
    width: 220px !important;
  }
  .block__second-block__img-block {
    width: 423px !important;
    height: 540px !important;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 423px !important;
    height: 249px !important;
  }
  .block__second-block__img-block img {
    width: 326px !important;
    height: 540px !important;
  }
}
@media only screen and (max-width: 991px) {
  .block__second-block {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .block__second-block__text-block {
    width: 680px !important;
    height: 248px !important;
    padding: 30px 20px !important;
  }
  .block__second-block__text-block h4 {
    width: 680px !important;
  }
  .block__second-block__text-block p {
    width: 680px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__title-block {
    width: 680px !important;
    height: 170.4px !important;
    padding: 30px 20px !important;
  }
  .block__second-block__title-block p {
    width: 680px !important;
  }
  .block__second-block__img-block {
    width: 720px !important;
    height: 712px !important;
    margin: 0 auto;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 720px !important;
    height: 277px !important;
  }
  .block__second-block__img-block img {
    width: 587px !important;
    height: 712px !important;
  }
}
@media only screen and (max-width: 767px) {
  .block__second-block__text-block {
    width: 520px !important;
    height: 248.8px !important;
    padding: 30px 10px !important;
  }
  .block__second-block__text-block h4 {
    width: 520px !important;
  }
  .block__second-block__text-block p {
    width: 520px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__title-block {
    width: 520px !important;
    height: 228px !important;
    padding: 30px 10px !important;
  }
  .block__second-block__title-block p {
    width: 500px !important;
  }
  .block__second-block__img-block {
    width: 540px !important;
    height: 550px !important;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 530px !important;
    height: 277px !important;
  }
  .block__second-block__img-block img {
    width: 417px !important;
    height: 530px !important;
  }
}
@media only screen and (max-width: 565px) {
  .block__second-block__text-block {
    width: 320px !important;
    height: 277.6px !important;
  }
  .block__second-block__text-block h4 {
    width: 320px !important;
  }
  .block__second-block__text-block p {
    width: 320px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__title-block {
    width: 320px !important;
    height: 285.6px !important;
  }
  .block__second-block__title-block p {
    width: 310px !important;
  }
  .block__second-block__img-block {
    width: 340px !important;
    height: 424px !important;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 340px !important;
    height: 277px !important;
  }
  .block__second-block__img-block img {
    width: 298px !important;
    height: 414px !important;
  }
}
@media only screen and (max-width: 754px) {
  .fa-bars {
    position: relative;
    top: -30px;
  }
}
@media (max-width: 1110px) {
  .libraryLanding__grid {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */