body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  color: #fff;
  background-color: greenyellow;
}

*::selection {
  color: #fff;
  background-color: greenyellow;
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-thumb {
  background-color: greenyellow;
}

.container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.libraryLanding {
  background-image: url(../img/section-1/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.libraryLanding .libraryLanding__grid {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack {
  z-index: 2;
  width: 200px;
  padding: 40px 0px 40px 17%;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__h1 {
  padding-top: 50px;
  font: 700 48px Raleway, sans-serif;
  color: #fff;
  width: 250px;
  height: 105px;
  animation-name: h1-anim;
  animation-duration: 2s;
}
@keyframes h1-anim {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0;
  }
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__p {
  width: 288px;
  font-weight: 700;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-style: italic;
  animation-name: go-top-anim;
  animation-duration: 2s;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__btn {
  width: 212px;
  height: 57.6px;
  border: none;
  border-radius: 12px;
  font: 700 16px "Open Sans", sans-serif;
  background-color: #d5e76c;
  cursor: pointer;
  color: #2799b1;
  text-transform: uppercase;
  animation-name: go-top-anim;
  animation-duration: 2s;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__btn:hover {
  background-color: rgba(213, 231, 108, 0.8549019608);
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack {
  font: 16px "Open Sans", sans-serif;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
  animation-name: go-top-anim;
  animation-duration: 2s;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack a:hover {
  border-color: rgba(255, 255, 255, 0.516);
  color: rgba(255, 255, 255, 0.734);
}
@keyframes go-top-anim {
  from {
    margin-top: 300px;
  }
  to {
    margin-top: 0;
  }
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack-second {
  display: block;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack-second .libraryLanding-grid__pack-second_1 {
  border: 0px solid transparent;
  width: calc((100% - 1140px) / 2 + 1140px);
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack-second .libraryLanding-grid__pack-second_1 img {
  width: calc((100% - 1140px) / 2 + 1140px);
  max-width: 100%;
  margin: 0 0 0 auto;
  width: 100%;
}

.section2 {
  width: 100%;
  height: 990px;
  padding-top: 20px;
}

.container__images {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 60px;
}

.container__image {
  width: 400px;
}
.container__image .img__1 {
  width: 400px;
  height: 370px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__image .img__2 {
  width: 400px;
  height: 500px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.freepik {
  display: flex;
  justify-content: center;
}

.text__what h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 20px;
  margin: 50px 0 0;
  text-align: center;
}
.text__what p {
  font-family: "open sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  font-style: normal;
  margin: 20px 0 0;
  text-align: center;
  line-height: 2;
}

.more__btn {
  border-radius: 12px;
  width: 212px;
  height: 57.6px;
  border: none;
  background-image: none;
  color: #2799b1;
  background-color: #d5e76c;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  padding: 15px 44px 17px 44px;
  margin-right: -39px;
  margin-top: 35px;
  font-weight: 700;
}

.more__btn:hover {
  background-color: #cde24f;
}

.school__text h3 {
  text-align: center;
  font: 30px "Raleway", sans-serif;
  font-weight: 700;
}
.school__text p {
  text-align: center;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-style: normal;
  margin: 20px 0 0;
  line-height: 2;
}

@media only screen and (max-width: 600px) {
  .container__images {
    grid-template-columns: auto;
  }
  .container__images .container__image {
    width: 320px;
  }
  .container__images .img__1 {
    width: 320px;
    height: 470px;
    border-radius: 30px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container__images .img__2 {
    width: 320px;
    height: 600px;
    border-radius: 30px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 600px) {
  .container__images {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container__images {
    grid-template-columns: auto;
  }
  .container__image {
    width: 700px;
  }
  .container__image .img__1 {
    width: 700px;
    height: 470px;
    border-radius: 30px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container__image .img__2 {
    width: 700px;
    height: 600px;
    border-radius: 30px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.client-fifth {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: #f1f1f1;
  padding: 30px 0;
}
.client-fifth h1 {
  font-size: 48px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-align: center !important;
}

.client-fifth__Grid {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: auto auto;
}
.client-fifth__Grid .fifth__Grid-first, .client-fifth__Grid .fifth__Grid-fourth {
  background: linear-gradient(180deg, #2a9aaf 0%, #cbe370 80%);
  color: white;
}
.client-fifth__Grid div {
  background-color: #fff;
  width: 470px;
  box-shadow: 0px 0px 85px -34px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  height: 214px;
  padding: 20px;
}
.client-fifth__Grid div h2 {
  font-size: 24px;
  font-family: Raleway, sans-serif;
}
.client-fifth__Grid div p {
  width: 438px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}

@media only screen and (max-width: 991px) {
  .client-fifth__Grid div {
    width: 350px;
    height: 310px;
  }
  .client-fifth__Grid div p {
    line-height: 1.6;
    text-align: start;
    letter-spacing: 3px;
  }
}
@media only screen and (max-width: 767px) {
  .client-fifth__Grid {
    grid-template-columns: auto;
  }
  .client-fifth__Grid div {
    height: 224px;
    width: 540px;
    padding: 20px;
  }
  .client-fifth__Grid div p {
    line-height: 2;
    font-weight: 500;
    font-size: 14.7px;
  }
}
@media only screen and (max-width: 575px) {
  .client-fifth__Grid div {
    height: 310px;
    width: 340px;
  }
}
.section-sixth {
  width: 100%;
  max-height: 155vh;
  background-color: #f1f1f1;
}
.section-sixth .section-sixth__container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.section-sixth .section-sixth__container .section-sixth__container-first {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/7f922619beb5500680b8dc58/nn.jpg);
  width: 600px;
  height: 600px;
  background-size: contain;
  margin-top: 150px;
}
.section-sixth .section-sixth__container .section-sixth__container-second {
  background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3c78d290f59250859f377a37/jh.jpg);
  width: 600px;
  height: 850px;
  background-size: cover;
  margin-top: 270px;
}
.section-sixth .section-sixth__item {
  width: 480px;
  height: 370px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 3px 32px -7px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 1080px;
  left: 680px;
}
.section-sixth .section-sixth__item h1 {
  font-size: 45px;
  padding: 20px 0 10px 20px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section-sixth .section-sixth__item p {
  padding: 0 0 0 20px;
}
.section-sixth .section-sixth__item button {
  width: 200px;
  height: 50px;
  background-color: rgba(172, 255, 47, 0.96);
  border-radius: 10px;
  color: rgb(16, 16, 16);
  font-size: 15px;
  margin: 20px 0 20px 20px;
  border: none;
  color: blue;
}
.section-sixth .section-sixth__item button:hover {
  background-color: rgb(150, 235, 24);
}
.section-sixth .section-sixth__title {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  gap: 20px;
}
.section-sixth .section-sixth__title .section-sixth__title__card {
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  color: blue;
  position: relative;
  bottom: 900px;
  left: 80px;
}
.section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon {
  width: 80px;
  height: 80px;
  background-color: rgba(127, 200, 18, 0.697);
  text-align: center;
  border-radius: 40px;
  margin: 30px 0 0 85px;
}
.section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon i {
  font-size: 45px;
  position: relative;
  top: 15px;
}

@media only screen and (max-width: 1200px) {
  .section-sixth {
    max-height: 120vh;
  }
  .section-sixth .section-sixth__container-first {
    width: 400px !important;
    height: 400px !important;
  }
  .section-sixth .section-sixth__container-second {
    width: 400px !important;
    height: 600px !important;
  }
  .section-sixth .section-sixth__item {
    width: 300px !important;
    height: 350px !important;
    bottom: 800px !important;
    left: 550px !important;
  }
  .section-sixth .section-sixth__item h1 {
    font-size: 30px !important;
  }
  .section-sixth .section-sixth__item button {
    width: 170px !important;
  }
  .section-sixth .section-sixth__title__card {
    width: 180px !important;
    height: 150px !important;
    bottom: 690px !important;
    left: 0 !important;
  }
  .section-sixth .section-sixth__title__card h1 {
    font-size: 20px !important;
  }
  .section-sixth .section-sixth__title__card .section-sixth__title__card__icon {
    width: 60px !important;
    height: 60px !important;
    margin: 20px 0 0 60px !important;
  }
  .section-sixth .section-sixth__title__card .section-sixth__title__card__icon i {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 991px) {
  .section-sixth {
    max-height: 192vh;
  }
  .section-sixth .section-sixth__container {
    grid-template-columns: auto;
  }
  .section-sixth .section-sixth__container .section-sixth__container-first {
    margin-top: 0;
  }
  .section-sixth .section-sixth__container .section-sixth__container-second {
    margin-top: 0;
    margin-left: 200px;
    height: 1000px !important;
  }
  .section-sixth .section-sixth__item {
    bottom: 1130px !important;
    left: 440px !important;
  }
  .section-sixth .section-sixth__title {
    grid-template-columns: auto auto;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card {
    width: 250px !important;
    height: 200px !important;
    bottom: 1050px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card h1 {
    font-size: 30px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon {
    width: 80px !important;
    height: 80px !important;
    margin: 30px 0 0 85px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon i {
    font-size: 45px !important;
  }
}
@media only screen and (max-width: 767px) {
  .section-sixth {
    max-height: 192vh;
  }
  .section-sixth .section-sixth__container-second {
    margin-left: 100px !important;
    margin-top: 0 !important;
  }
  .section-sixth .section-sixth__item {
    width: 350px !important;
    bottom: 1030px !important;
    left: 180px !important;
  }
  .section-sixth .section-sixth__item h1 {
    font-size: 35px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card {
    width: 180px !important;
    height: 150px !important;
    bottom: 930px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card h1 {
    font-size: 20px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon {
    width: 60px !important;
    height: 60px !important;
    margin: 20px 0 0 60px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon i {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 565px) {
  .section-sixth {
    max-height: 330vh;
  }
  .section-sixth .section-sixth__container-second {
    margin: 100px 0 0 0 !important;
  }
  .section-sixth .section-sixth__item {
    left: 105px !important;
    bottom: 1120px !important;
    width: 300px !important;
  }
  .section-sixth .section-sixth__title {
    grid-template-columns: auto;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card {
    width: 300px !important;
    height: 250px !important;
    bottom: 1100px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card h1 {
    font-size: 35px !important;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon {
    width: 100px !important;
    height: 100px !important;
    margin: 50px 0 0 100px !important;
    border-radius: 50px;
  }
  .section-sixth .section-sixth__title .section-sixth__title__card .section-sixth__title__card__icon i {
    font-size: 65px !important;
  }
}
.seventh-section__block {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
}
.seventh-section__block .block__second-block {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__second-block__text-block {
  width: 225px;
  height: 484px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}
.block__second-block__text-block h4 {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  margin: 0;
}
.block__second-block__text-block p {
  width: 225px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  margin: 35px 0;
  color: #111;
}
.block__second-block__text-block .text-block__card {
  width: 212px;
  animation-name: anim;
  animation-duration: 2s;
}
.block__second-block__text-block .text-block__card .text-block__a-btn {
  padding: 15px 44px 17px;
  background-color: #d5e76c;
  color: #2799b1;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px 0;
  border: none;
}
.block__second-block__text-block .text-block__a-btn:hover {
  background-color: #cde24f;
  color: #238a9f;
  border: none;
}
.block__second-block__text-block .title-link {
  width: 86px;
  display: inline-block;
  margin: 36px 0 0;
  color: #111;
}
.block__second-block__text-block a {
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid #111;
  margin: 0 5px 0;
}
.block__second-block__text-block a:hover {
  border-bottom: 1px solid #2799b1;
}

.block__second-block__title-block {
  width: 282px;
  height: 484px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.block__second-block__title-block img {
  width: 64px;
  height: 53.45px;
  -o-object-fit: cover;
     object-fit: cover;
}
.block__second-block__title-block p {
  width: 282px;
  line-height: 1.8;
  letter-spacing: 0.3px;
  margin: 35px 0;
  color: #111;
}

.block__second-block__img-block {
  width: 513px;
  height: 484px;
  padding: 30px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__second-block__img-block .img-block__items__item {
  width: 513px;
  height: 228px;
  background-image: linear-gradient(to right, #2799b1, #d5e76c);
}
.block__second-block__img-block img {
  position: absolute;
  top: 0;
  padding: 30px 0 0;
  width: 337px;
  height: 484px;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translate(-500px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@media only screen and (max-width: 1200px) {
  .block__second-block__text-block {
    width: 175px !important;
    height: -moz-max-content;
    height: max-content;
  }
  .block__second-block__text-block h4 {
    width: 170px !important;
  }
  .block__second-block__text-block p {
    width: 175px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__text-block .text-block__a-btn {
    position: relative;
  }
  .block__second-block__title-block {
    width: 222px !important;
    height: 540px !important;
    padding: 30px;
  }
  .block__second-block__title-block img {
    width: 14px !important;
    height: 14px !important;
    padding: 0 25px;
  }
  .block__second-block__title-block p {
    width: 220px !important;
  }
  .block__second-block__img-block {
    width: 423px !important;
    height: 540px !important;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 423px !important;
    height: 249px !important;
  }
  .block__second-block__img-block img {
    width: 326px !important;
    height: 540px !important;
  }
}
@media only screen and (max-width: 991px) {
  .block__second-block {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .block__second-block__text-block {
    width: 680px !important;
    height: 248px !important;
    padding: 30px 20px !important;
  }
  .block__second-block__text-block h4 {
    width: 680px !important;
  }
  .block__second-block__text-block p {
    width: 680px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__title-block {
    width: 680px !important;
    height: 170.4px !important;
    padding: 30px 20px !important;
  }
  .block__second-block__title-block p {
    width: 680px !important;
  }
  .block__second-block__img-block {
    width: 720px !important;
    height: 712px !important;
    margin: 0 auto;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 720px !important;
    height: 277px !important;
  }
  .block__second-block__img-block img {
    width: 587px !important;
    height: 712px !important;
  }
}
@media only screen and (max-width: 767px) {
  .block__second-block__text-block {
    width: 520px !important;
    height: 248.8px !important;
    padding: 30px 10px !important;
  }
  .block__second-block__text-block h4 {
    width: 520px !important;
  }
  .block__second-block__text-block p {
    width: 520px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__title-block {
    width: 520px !important;
    height: 228px !important;
    padding: 30px 10px !important;
  }
  .block__second-block__title-block p {
    width: 500px !important;
  }
  .block__second-block__img-block {
    width: 540px !important;
    height: 550px !important;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 530px !important;
    height: 277px !important;
  }
  .block__second-block__img-block img {
    width: 417px !important;
    height: 530px !important;
  }
}
@media only screen and (max-width: 565px) {
  .block__second-block__text-block {
    width: 320px !important;
    height: 277.6px !important;
  }
  .block__second-block__text-block h4 {
    width: 320px !important;
  }
  .block__second-block__text-block p {
    width: 320px !important;
  }
  .block__second-block__text-block .title-link {
    width: 86px !important;
  }
  .block__second-block__title-block {
    width: 320px !important;
    height: 285.6px !important;
  }
  .block__second-block__title-block p {
    width: 310px !important;
  }
  .block__second-block__img-block {
    width: 340px !important;
    height: 424px !important;
  }
  .block__second-block__img-block .img-block__items__item {
    width: 340px !important;
    height: 277px !important;
  }
  .block__second-block__img-block img {
    width: 298px !important;
    height: 414px !important;
  }
}
.next__acaunt {
  display: grid;
  row-gap: 10px;
  padding-top: 60px;
  text-align: center;
  background-color: rgb(44, 44, 44);
  width: 100%;
  height: 14vw;
}

.text__2h h4 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 1px;
}

.text__2a b {
  color: rgb(255, 255, 255);
}
.text__2a a:hover {
  color: rgb(36, 35, 35);
  text-decoration: none;
}

@media only screen and (max-width: 760px) {
  .next__acaunt {
    text-align: start;
  }
}/*# sourceMappingURL=main.css.map */