.section-sixth{
    width: 100%;
    max-height: 155vh;
    background-color: #f1f1f1;
    .section-sixth__container{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        .section-sixth__container-first{
            background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/7f922619beb5500680b8dc58/nn.jpg);
            width: 600px;
            height: 600px;
            background-size: contain;
            margin-top: 150px;
        }
        .section-sixth__container-second{
            background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3c78d290f59250859f377a37/jh.jpg);
            width: 600px;
            height: 850px;
            background-size: cover;
            margin-top: 270px;
        }
    }
    .section-sixth__item{
        width: 480px;
        height: 370px;
        background-color: white;
        border-radius: 30px;
        box-shadow:  0px 3px 32px -7px rgba(0,0,0,0.30);
        position: relative;
        bottom: 1080px;
        left: 680px;
        h1{
            font-size: 45px;
            padding: 20px 0 10px 20px;
            margin: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        p{
            padding: 0 0 0 20px;
        }
        button{
            width: 200px;
            height: 50px;
            background-color: rgba(172, 255, 47, 0.96);
            border-radius: 10px;
            color: rgb(16, 16, 16);
            font-size: 15px;
            margin: 20px 0 20px 20px;
            border: none;
            color: blue;
        }
        button:hover{
            background-color: rgb(150, 235, 24);
        }
    }
    .section-sixth__title{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        gap: 20px;
        // position: relative;
        // bottom: 900px;
        // left: 80px;
        .section-sixth__title__card{
            width: 250px;
            height: 200px;
            background-color: white;
            border-radius: 20px;
            text-align: center;
            color: blue;
            position: relative;
            bottom: 900px;
            left: 80px;
            .section-sixth__title__card__icon {
                width: 80px;
                height: 80px;
                background-color:rgba(127, 200, 18, 0.697) ;
                text-align: center;
                border-radius: 40px;
                margin: 30px 0 0 85px;
                i{
                font-size: 45px;
                position: relative;
                top: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .section-sixth{
        max-height: 120vh;
        .section-sixth__container-first{
            width: 400px !important;
            height: 400px !important;
    
        }
        .section-sixth__container-second{
            width: 400px !important;
            height: 600px !important;
        }
        .section-sixth__item{
            width: 300px !important;
            height: 350px !important;
            bottom: 800px !important;
            left: 550px !important;
            h1{
                font-size: 30px !important;
            }
            button{
                width: 170px !important;
            }
        }
        .section-sixth__title__card{
            width: 180px !important;
            height: 150px !important;
            bottom: 690px !important;
            left: 0 !important;
            h1{
                font-size: 20px !important;
            }
            .section-sixth__title__card__icon {
                width: 60px !important;
                height: 60px !important;
                margin: 20px 0 0 60px !important;
                i{
                font-size: 30px !important;
                }
            }
        }
    } 
}
@media only screen and (max-width: 991px) {
    .section-sixth{
        max-height: 192vh;
        .section-sixth__container{
            grid-template-columns: auto;
            .section-sixth__container-first{
                margin-top: 0;
            }    
            .section-sixth__container-second{
                margin-top: 0;
                margin-left: 200px;
                height: 1000px !important;
            }
        }
        .section-sixth__item{
            bottom: 1130px !important;
            left: 440px !important;
        }
        .section-sixth__title{
            grid-template-columns: auto auto;
            .section-sixth__title__card{
                width: 250px !important;
                height: 200px !important;
                bottom: 1050px !important;
                h1{
                    font-size: 30px !important;
                }
                .section-sixth__title__card__icon {
                    width: 80px !important;
                    height: 80px !important;
                    margin: 30px 0 0 85px !important;
                    i{
                    font-size: 45px !important;
                    }
                }
            }
        }
    } 
}
@media only screen and (max-width: 767px){
    .section-sixth{
        max-height: 192vh;
        .section-sixth__container-second{
            margin-left: 100px !important; 
            margin-top: 0 !important;
        }
        .section-sixth__item{
            width: 350px !important;
            bottom: 1030px !important;
            left: 180px !important;
            h1{
                font-size: 35px !important;
            }
        }
        .section-sixth__title{
            .section-sixth__title__card{
                width: 180px !important;
                height: 150px !important;
                bottom: 930px !important;
                h1{
                    font-size: 20px !important;
                }
                .section-sixth__title__card__icon {
                    width: 60px !important;
                    height: 60px !important;
                    margin: 20px 0 0 60px !important;
                    i{
                    font-size: 30px !important;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 565px){
    .section-sixth{
        max-height: 330vh ;
        .section-sixth__container-second{
            margin: 100px 0 0 0 !important;
        }
        .section-sixth__item{
            left: 105px !important;
            bottom: 1120px !important;
            width: 300px !important;
        }
        .section-sixth__title{
            grid-template-columns: auto;
            .section-sixth__title__card{
                width: 300px !important;
                height: 250px !important;
                bottom: 1100px !important;
                h1{
                    font-size: 35px !important;
                }
                .section-sixth__title__card__icon {
                    width: 100px !important;
                    height: 100px !important;
                    margin: 50px 0 0 100px !important;
                    border-radius: 50px;
                    i{
                    font-size: 65px !important;
                    }
                }
            }
        }
    }
}