.section2{
    width: 100%;
    height: 990px;
    padding-top: 20px;
}
.container__images{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 60px;
}
.container__image {
    width: 400px;
    .img__1 {
        width: 400px;
        height: 370px;
        border-radius: 30px;
        object-fit: cover;
    }
    .img__2 {
        width: 400px;
        height: 500px;
        border-radius: 30px;
        object-fit: cover;
    }
}

.text__what {
    h5 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-transform: none;
        letter-spacing: normal;
        font-size: 20px;
        margin: 50px 0 0;
        text-align: center;
    }
    p {
        font-family: 'open sans', sans-serif;
        font-size: 20px;
        letter-spacing: 0px;
        font-style: normal;
        margin: 20px 0 0;
        text-align: center;
        line-height: 2;
    }
}

.more__btn {
    border-radius: 12px;
    width: 212px;
    height: 57.6px;
    border: none;
    background-image: none;
    color: #2799b1;
    background-color: #d5e76c;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    padding: 15px 44px 17px 44px;
    margin-right: -39px;
    margin-top: 35px;
    font-weight: 700;
}

.more__btn:hover {
    background-color: #d5e76c;
}

.school__text {
    h3 {
        text-align: center;
        font: 30px 'Raleway', sans-serif;
        font-weight: 700;
    }
    p {
        text-align: center;
        font-family: 'open sans', sans-serif;
        font-size: 16px;
        letter-spacing: 0px;
        font-style: normal;
        margin: 20px 0 0;
        line-height: 2;
    }
}

@media only screen and (max-width: 600px) {
    .container__images {
        grid-template-columns: auto;

    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container__images {
        grid-template-columns: auto;
    }
}