doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../practiswep/scss/main.css")
    body 
        section.eighth-section
            div.eighth-section__first-div 
                div.first-div__items
                    div.first-div__items__item 
                        div.first-div__items-title
                            label(for="") E-mail
                            br  
                            input(type="text"  placeholder="Enter a vallid email address")
                        div.first-div__items-title
                            label(for="") Name 
                            br
                            input(type="text" placeholder="Enter your Name")
                    div.first-div__items__select
                        select
                            option Item 1
                            option Item 2
                            option Item 3 
                    div.first-div__items__item
                        div.first-div__items-title
                            label(for="") Data 
                            br
                            input(type="date")
                        div.first-div__items-title
                            label(for="") Phone 
                            br
                            input(type="tel" placeholder="Enter your phone (e.g +1415552675")
                    div 
                        label(for="") Message 
                        br
                        textarea(name="") Enter your message 
                    div 
                        button SUBMIT
                div.element__div 
                    div
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.